.data-ware-house{
    padding: 30px 100px;
}

.data-ware-house-child{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.data-ware-house-center-left,
.data-ware-house-bottom-left{
    flex: 1.5;
}

.data-ware-house-center-right,
.data-ware-house-bottom-right{
    flex: 1.65;
}
.data-ware-house-top-right{
    flex: 1;
}
.data-ware-house-top-left{
    flex: 1.3;
    /* background-color: red; */
}

.data-ware-house-top>h1,
.data-ware-house-center>h1,
.data-ware-house-bottom>h1{
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: justify;
    white-space: normal;
    /* color: red; */
}
.data-ware-house-center>h1,
.data-ware-house-bottom>h1{
    text-align: right;
    margin-right: 15%;
}

.data-ware-house-top-left>p,
.data-ware-house-center-right>p,
.data-ware-house-bottom-right>p{
    margin-bottom: 15px;
-webkit-tap-highlight-color: transparent;
zoom: 1;
font-size: 16px;
line-height: 28px;
font-style: normal;
font-weight: 400;
text-align: justify;
color: #5f6368;
font-family: Roboto, Arial, sans-serif;
}
.data-ware-house-bottom-contents{
    margin-top: 20px;
}

.data-ware-house-bottom-contents>h2,
.data-ware-house-bottom-contents>p{
    font-size: 16px;
line-height: 28px;
font-style: normal;
font-weight: 700;
text-align: justify;
color: #5f6368;
font-family: Roboto, Arial, sans-serif;
}
.data-ware-house-bottom-contents>p{
    font-weight: 400;
    margin-top: 5px;
}
.data-ware-house-top-right>img,
.data-ware-house-center-left>img,
.data-ware-house-bottom-left>img{
    width: 100%;
    height: auto;
    /* background-size: contain; */
    background-size: cover;
}
.data-ware-house-top-right{
    width: 60%;
    display: flex;
    justify-content: center;
    
}
.data-ware-house-center-left{
    width: 100%;
}
.data-ware-house-center-left>img{
    width: 100%;
    height: 400px;
}

.data-ware-house-bottom-left>img{
    width: 100%;
    height: 480px;
    align-self: flex-end;
    background-size: cover;
}
.data-ware-house-bottom-left{
    width: 60%;
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width:1080px) {
    .data-ware-house{
        padding: 30px;
    }
    
}
@media screen and (max-width:780px) {
    .data-ware-house-child{
        display: flex;
        flex-direction: column;
    }
    .data-ware-house-top-right,
.data-ware-house-center-left,
.data-ware-house-bottom-left{
   margin-top: 50px;
   width: 100%;
}
.data-ware-house-top>h1,
.data-ware-house-center>h1,
.data-ware-house-bottom>h1{
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
    /* color: red; */
}
.data-ware-house-center-left>img{
    width: 100%;
    height: 350px;

}
    
}
@media screen and (max-width:410px) {
    .data-ware-house-center-left>img{
        /* width: 100%;
        height: 100px; */

    }
    .data-ware-house-center-left{
        /* width: 80%;
        height: 80%; */
        background-color: red;
    }
}

