/* .bricks-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.databricks-wrapper {
    padding: 30px 100px;
}
.databricks-watch{
    display: flex;
}
.databricks-watch-left,
.databricks-watch-right{
    flex: 1;
}
.databricks-watch-right>h1{
    font-size: 2rem;
}
.unified-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    
}

.unified-data-top>h1{
    color: #000000;
    font-family: "Verdana", Sans-serif;
    font-weight: 500;
    font-size: 2.7rem;
    margin-bottom: 30px;
}
.unified-data-top>p{
    font-size: 1rem;
line-height: 1.25em;
font-size: 1rem;
font-weight: 700;
color: #3a3a3a;
}


.unified-data-center{
    margin: auto;
}
.unified-data-center>button{
    background-color: #61B7CE;
border-radius: 20px 20px 20px 20px;
padding: 20px 20px 20px 20px;
color: #fff;
text-align: center;
font-size: 1rem;
border: none;
}
.unified-data-bottom {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;

}
.unified-data-bottom>p{
    color: #000000;
font-family: "Verdana", Sans-serif;
font-weight: 400;
font-size: 19px;
box-sizing: border-box;
text-align: center;
}


@media screen and (max-width:1080px) {
    .databricks-wrapper{
        padding: 30px;
    }
    .unified-data-top>h1 {
        font-size: 2.3rem;
    }
    
}
@media screen and (max-width:780px) {
    .unified-data-bottom {
        grid-template-columns: repeat(1,1fr);
    }
    .unified-data-top>h1 {
        font-size: 2.3rem;
    }
    .databricks-watch{
        flex-direction: column;
    }
    
}
@media screen and (max-width:480px) {
    .unified-data-bottom {
        grid-template-columns: repeat(1,1fr);
    }
    .unified-data-top>h1 {
        font-size: 1.5rem;
    }
    .unified-data-top>p {
        font-size: 0.95rem;
    }
    .unified-data-center>button{
    padding: 15px;
    font-size: 0.95rem;
    }
    .unified-data-bottom>p{
    font-size: 17px;
    }
    
}