.deliver {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;


}
.deliver>h1{
    color: #000000;
    font-family: "Verdana", Sans-serif;
    font-size: 31px;
    font-weight: 400;
    text-align: center;
}
.deliver-images {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);


}
.deliver-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
    width: 100%;
}
.deliver-image>span{
    color: #7A7A7A;
}


.deliver-image>img{
    /* width: 100%;
    object-fit: fill;
    object-fit: contain; */
    /* width: 100%; */
    height: 200px;
    /* background-color: red; */
}

@media screen and(max-width:1050px) {
    .deliver-images>div {
        display: grid;
    grid-template-columns: repeat(1, 1fr);


    }
    .deliver-images {
        display: grid;
    grid-template-columns: repeat(1, 1fr);


    }
    
    
}