.futuristic-card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    overflow: hidden;

}
.futuristic-card>h1{
    color: #FFFFFF;
    font-family: "Alice", Sans-serif;
  font-size: 3.5rem;
  line-height: 1.4em;
  /* color: red; */


}
.futuristic-card>p{
    color: #FFFFFF;
    font-family: "Verdana", Sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    font-size: 1.2rem;
}

@media screen and (max-width:1080px) {
    .futuristic-card{
        padding: 20px;
    }
    
}
@media screen and (max-width:780px) {
    .futuristic-card>h1{
       font-size: 2rem;
    }
    .futuristic-card>p{
        font-size: 0.9rem;
     }
    
}