.about-wrapper {
    padding: 30px 100px;
}

.about-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.welcome-right {
    /* width: 600px; */
    /* background-color: green; */
    width: 70vw;
}
.welcome-right>h1{
    font-size: 3rem;
}
.welcome-left {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.welcome-right>p{
    font-size: 1.5rem;
}
.horizontal-line {
    border: 1px solid black;
    height: 100px;

}

/* our-vision */
.our-vision {

}
.our-vision >p{
    font-size: 1rem;
    columns: 2 25ch;
    gap: 30px;
    font-weight: 400;
    text-align: justify;
    color: #000000;
    /* font-family: "Verdana", Sans-serif; */
}
.our-vision>p>span{
    margin-bottom: 20px;
    -webkit-tap-highlight-color: transparent;
    zoom: 1;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #2b9ead;
    margin-left: 30px;
}

/* our approch  */
.our-approach{
    padding-top: 30px;
    
}
.our-approach>h1{
    color: #000000;
    font-family: "Verdana", Sans-serif;
    font-size: 2rem;
    box-sizing: border-box;
}
.our-approach>p{
    font-size: 1rem;
    columns: 2 25ch;
    gap: 30px;
    font-weight: 400;
    text-align: justify;
    color: #000000;
    /* font-family: "Verdana", Sans-serif; */
}
.approch-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-size: cover;
    /* background-color: red; */
}
.approch-image>img{
    /* background-size: fill; */
    width: 100%;
}
.approch-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* background-color: red; */
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.approch-video>video{
    width: 100%;
    background-size: cover;
    height: 100%;

}

/* about section  */
.know-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.know-headline>h1{
    color: #070707;
font-family: "Verdana", Sans-serif;
font-size: 1.6666666666667rem;
text-align: center;
}
.know-your-product {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

@media screen and (max-width:1080px) {
    .about-wrapper {
        padding: 30px 30px;
    }
    .know-your-product {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:770px) {
    .about-welcome {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;

    }
    .our-approach>p{
        columns: 1;
    }
   
    .know-your-product {
        grid-template-columns: repeat(1, 1fr);
    }
}