
.hd-insight-card{
    display: flex;
    gap: 30px;
}
.hd-insight-card-right>h1{
    font-weight: 700;
    font-size: 1rem;

}

@media screen and (max-width: 780px) {
    .hd-insight-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }